* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: auto;
}

body {
	background: linear-gradient(#000080, #008080);
	color: #fff;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
}

.container {
	border: 5px solid #009f9f;
	border-radius: 20px;
	margin: 1rem auto!important;
	padding: 10px !important;
	width: 95%;
	text-align: center;
}

h1 {
	font-family: 'Righteous', cursive;
	font-size: 2.75rem;
	text-align: center;
	text-transform: uppercase;
}

section {
	flex: 1 0 auto;
}

#dspLoc {
	font-size: 1.75rem;
}

#dspIcon {
	width: 3.5rem;
}

#dspWeather {
	font-size: 1.75rem;
}

#dspTemp {
	font-size: 1.75rem;
}

#dspButton {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0 .5rem !important;
}

#dspWind {
	font-size: 1.5rem;
}

footer {
	flex-shrink: 0;
}

footer .row {
	text-align: center;
	display: flex;
	flex-direction: column;
}

footer a,
footer a:hover {
	color: #fff;
}