* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow: auto;
}

body {
	background: linear-gradient(#0033ff, #008080);
	color: #fff;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
}

.container {
	border: 5px solid #009f9f;
	border-radius: 20px;
	line-height: 1.5;
	margin: 0.5rem auto;
	min-width: 300px;
	width: 90%;
	text-align: center;
}

.flexi-temp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexi-sun {
	display: flex;
	justify-content: space-evenly;
	margin: 0.25rem auto;
}

h1 {
	font-family: 'Righteous', 'Lato', sans-serif;
	font-size: 2.75rem;
	text-align: center;
	text-transform: uppercase;
}

section {
	flex: 1 0 auto;
}

section .container {
	padding: .25rem;
}

#dspLoc {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
}

.dspIcon {
	display: none;
	width: 5.5rem;
}

#dspWeather {
	font-size: 1.25rem;
	font-weight: bold;
}

#dspTemp {
	font-size: 2.5rem;
	flex: 0 0 7rem;
}

#dspButton {
	font-size: 1.25rem;
	width: 2.25rem;
	height: 2.25rem;
}

#dspSunrise,
#dspSunset,
#dspWind {
	font-size: 1.25rem;
}

footer {
	flex-shrink: 0;
}

footer .row {
	text-align: center;
	display: flex;
	flex-direction: column;
}

footer a,
footer a:hover {
	color: #fff;
	text-decoration: none;
}